@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #1b1b1b; /* Cor de asfalto */
    --primary-color: #E3E3E3; /* Cor de luzes do carro */
    --secondary-color: #FF4500; /* Cor vibrante, como de faróis ou carros esportivos */
    --accent-color: #FFD700; /* Detalhes dourados */
    --font: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background: linear-gradient(to right, var(--secondary-color), var(--accent-color));
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: transform 0.2s, background-color 0.3s;
}

nav a:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

.grafico {
    margin-top: 3rem;
}

.graficos-container {
    margin: 3rem auto;
    max-width: 800px;
}

.graficos-container__texto {
    font-size: 1.2rem;
    text-align: center;
    padding: 1.5rem;
    border: var(--secondary-color) solid 2px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

span {
    font-weight: bold;
    color: var(--secondary-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--accent-color), var(--secondary-color));
    color: var(--primary-color);
    width: 100%;
    height: 3rem;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
    font-size: 1rem;
}
